body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #67ba9f;
  color: #2d3436;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #193c2e;
  color: rgb(99, 188, 152);
  padding: 15px;
}

button {
  background: #024a02;
  border: none;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background: #0984e3;
  color: white;
}
.cart-btn {
  background: #00b894;
  color: white;
}
.back-btn {
  background: #6c5ce7;
  color: white;
}
.clear-btn {
  background: #d63031;
  color: white;
}
.checkout-btn {
  background: #00cec9;
  color: white;
}

.categories, .products {
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}
.product-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
.product-card button {
  margin-top: 10px;
  width: 100%;
}

.cart-container {
  padding: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
}
.cart-total {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2ecc71;
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 1000;
}
.toast.show {
  opacity: 1;
  transform: translateY(0);
}
.category-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
}
.category-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.category-card p {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.category-card:hover {
  transform: scale(1.05);
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.cart-info {
  flex-grow: 1;
}
.cart-info h3 {
  margin: 0;
  font-size: 16px;
}
.cart-info p {
  margin: 4px 0 0;
  color: #555;
}
.category-item {
  display: flex;
  align-items: center;
  background: white;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
}

.category-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.category-item h3 {
  margin: 0;
  font-size: 18px;
}

.category-item p {
  margin: 5px 0;
  color: #555;
}
.thankyou-container {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.thankyou-container h2 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.thankyou-container h3 {
  margin-top: 20px;
  text-align: right;
  color: #222;
  font-size: 18px;
}
